*{
    margin:0;
    padding:0;
}
body{
    background: linear-gradient( to bottom right, rgb(155, 155, 241) , rgb(210, 79, 108)) no-repeat ;
    height: 100vh;
    align-content: center;
}
.card{
    width:25%;
    height:65%;
    margin:auto;
    padding: 10px;
    border-radius:20px ;
    background-color: white;
    text-align: center;
    align-content: center;
}

.image{
    width:130px;
    height: 130px;
    border-radius:50%;
    border:4px solid blue;
    object-fit: cover;
}

header{
    width:80%;
    margin:auto;
    padding:20px;
}

section{
    width:80%;
    margin:auto;
    padding:20px;
}

.para{
    color: rgb(182, 129, 69);
}

hr{
    border:0.2px rgb(141, 141, 165) solid ;
    width:80%;
    margin:auto;
    
}

footer{
    width:80%;
    margin:auto;
    padding:20px;
    justify-content: center;
    display: flex;
    gap:6px 8px; 
}    

button{
    margin: 6px 8px;
    background-color: white;
    color: blue;
    border-radius: 4px solid blue;

}
